<?xml version = "1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<listeners>
		<listener class-name="com.qa.listeners.TestListener" />
	</listeners>
	<test name="test">
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="9 PKQ1.181203.001" />
		<parameter name="deviceName" value="REDMI NOTE_7_PRO" />
		<classes>
			<class name="com.qa.tests.LoginTests">
				<methods>
					<include name="Login_with_Restricted_Userid" />
				</methods>
			</class>
		</classes>
	</test><!--Test -->
</suite><!--Suite -->